/* Add screen styles below */
body {
    background: #FEFFFE;
    margin: 0;
} 

header {
    margin: 0 auto;
    background: #1E2D2F;
    padding: 25px;
}

h1 {
    margin: 0 auto;
    color: #FEFFFE;
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
}

p {
    margin: 0;
}

h2 {
    color: #F54F13;
    font-family: Arial;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

.info {
    margin: 0 auto;
    padding-top:50px;
    width: 900px;
}

img {
    height: 240px;
}