/* Add screen styles below */
body {
    background: #FEFFFE;
    margin: 0;
} 

header {
    margin: 0 auto;
    background: #1E2D2F;
    padding: 25px;
}

h1 {
    margin: 0 auto;
    color: #FEFFFE;
    font-family: "Brush Script MT", cursive, Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
}

p {
    margin: 0 auto;
    font-family: Arial;
    font-size: 24px;
    Padding-top: 10px;
}

h2 {
    color: #F54F13;
    font-family: Arial;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

h3 {
    margin: 0 auto;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
}

.info {
    margin: 0 auto;
    padding-top:50px;
    width: 900px;
}

img {
    max-width: 100%;
    height: auto;
}

.project img {
  height: 240px;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
}

.project {
    width: 900px;
    margin: 0 auto;
    color: #1E2D2F;
    font-family: Arial;
    padding-top: 20px;
}